.mat-tab-group {
    margin-bottom: 48px;
  }

.heading{
    font-size: medium;
    font-weight: 500;
}

.list-header{
    font-size: medium;
    font-weight: 700;
}

.imageStyle{
    border-radius: 50%;
    width: 50%;
    
}

.card:hover{
    animation-name: example;
    animation-duration: 4s;
}


/* @keyframes example {
    from {width: 51.5%;}
  } */


  .sizeSet{
      width: 12%;
  }